@import './base.css';

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#app {
  display: flex;
  font-weight: normal;
}

a{
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    font-weight: 700;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
  }
}
